%h2 Proposition
.subject
  Subject:
  = @proposal.subject
.wording
  Wording:
  = @proposal.wording

.protocol
  Protocol:
  = @proposal.protocol

.choices
  Available choices:
  %ul
    - @proposal.choices.each do |choice|
      %li
        = choice.label

