%h2 Proposals

%table(id='proposals')
  %tr
    %th Outcome

  - @proposals.each do |proposal|
    %tr[proposal]
      %td.subject= link_to proposal.subject, proposal_path(proposal)
      %td.outcome= proposal.outcome
      %td.vote= link_to "vote", new_proposal_vote_path(proposal)