%h2 Proposals

%table#proposals
  %tr
    %th Subject
    %th Outcome

  - @proposals.each do |proposal|
    %tr[proposal]
      %td= link_to proposal.subject, proposal_path(proposal)
      %td= proposal.outcome
      %td= link_to "Vote", new_proposal_vote_path(proposal)