// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.votes {
  .chart {
    margin-left: 0px;
    font-size: 10px;
    shape-rendering: crispEdges;

    rect {
      stroke: white;
      fill: steelblue;
    }

    text.bar {
      font-family: "Lucida Grande";
      fill: steelblue;
      font-weight: bold;
    }

    text.label, text.rule {
      font-family: "Lucida Grande";
      font-size: 11px;
      fill: #666;
    }
  }
}