= render @proposal

.vote
  %h2 Your vote
  - @proposal.choices.each do |choice|
    = semantic_form_for [@proposal, @vote] do |form|
      = form.commit_button choice.to_s, :button_html => { :id => choice.to_s }

%br
.results
  %h4 Current results
  = render "breakdown"
