%h2 Your vote

.subject
  Subject:
  = @proposal.subject

.wording:
  = @proposal.wording

%p
- @proposal.protocol.choices.each do |choice|
  = semantic_form_for [@proposal, @vote] do |form|
    = form.commit_button choice.to_s, :button_html => { :id => choice.to_s }


